html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='css/font-awesome.min.css', rel='stylesheet', media='screen')
        link(href='css/sweetalert.css', rel='stylesheet', media='screen')
        link(href='css/styles/monokai-sublime.css', rel='stylesheet', media='screen')
        link(href='css/hits.css', rel='stylesheet', media='screen')

        title="Forklift GUI"

    include layouts/navbar

    body
        div.container-fluid
            .row
                .list-group
                    - log = extractLog(log, 0)
                    include layouts/log

    script(src='js/jquery-1.11.3.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/sweetalert.min.js')
    script(src='js/highlight.pack.js')
    script.
        hljs.initHighlightingOnLoad();
    script(src='js/hits.js')
